@model CSSDROPLIST.Models.VM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.W1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
